<div class="container">
    <div class="container card my-5" style="max-width: 600px;">
        <form action="/forgot-password" method="POST" class="card-body">
            <fieldset>
                <legend>
                    Forgot Password
                </legend>
    
                <div class="mb-4">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1">
                    </div>
    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>