<div class="container card my-5 py-5" style="max-width: 500px;">
    <form action="/forgot-password-otp" method="POST" class="card-body">

        <fieldset>
            <legend>Enter OTP</legend>

            <div class="mb-3">
                <label class="form-label" for="otpVerification">Enter 6 digit OTP</label>
                <input type="number" name="otp" class="form-control" id="otpVerification">
            </div>

            <button type="submit" class="btn btn-success">Submit</button>
        </fieldset>        

    </form>
</div>