<div class="container py-5 my-5">
    <div class="container card">
        <form action="/new-password" method="POST" class="card-body">
            <fieldset>
                <legend>Enter New Password</legend>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="pwd" id="password" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Re Enter Password</label>
                    <input type="password" name="pwdConf" id="password" class="form-control">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>