<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
        <%= locals.title ? locals.title : 'Dashboard' %>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="/category/add-category">
                <button type="button" class="btn btn-sm btn-outline-primary">Add Category</button>
            </a>
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div>
</div>


<div class="container py-5">
    <div class="container">
        <% if (err.length > 0) { %>
            <div class="alert alert-warning alert-dismissible" role="alert">
              <%= err %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
    </div>
    <div class="card container" style="max-width: 740px;">
        <div class="row justify-content-evenly">
            <form id="myForm" class="card-body col-md-4">
                <fieldset>
                    <legend class="card-title">Add Category</legend>
                    <hr>

                    <div class="mb-3">
                        <label class="form-label" for="images">Category Image</label>
                        <div id="myFirstImage" class="custom-file-container" data-upload-id="myFirstImage"></div>
                        <input type="file" id="hiddenFileInput" style="display: none;">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Category Name</label>
                        <input class="form-control" type="text" name="name" id="name" required>
                    </div>

                    <button id="cancel-upload" class="btn btn-outline-warning" type="button">Cancel</button>
                    <button class="btn btn-outline-primary" type="submit">Add</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script src="https://unpkg.com/file-upload-with-preview/dist/file-upload-with-preview.iife.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    const upload = new FileUploadWithPreview.FileUploadWithPreview("myFirstImage");

    console.log(upload)


    const handleSubmit = async (event) => {
        // Prevent the form from being submitted normally
        event.preventDefault();

        // Create a new FormData object
        const formData = new FormData();

        // Append the form data to the FormData object
        formData.append("image", upload.cachedFileArray[0]);
        formData.append("name", document.getElementById("name").value);

        // Send the form data to the server using Axios
        try {
            const response = await axios.post("/admin/category/add-category", formData, {
                headers: {
                    "Content-Type": "multipart/form-data"
                }
            });

            if (response.data.redirect) {
                window.location = response.data.redirect;
            } else {
                console.log(response.data);
            }

            // Handle the response
            console.log(response.data);
        } catch (error) {
            // Handle errors
            console.error(error);
        }
    };


    // Attach the handleSubmit function to the form's submit event
    document.querySelector("form").addEventListener("submit", handleSubmit);

</script>