<header class="site-navbar mb-5" role="banner">
    <div class="site-navbar-top">
        <div class="container">
            <div class="row align-items-center">


                <div class="col mb-md-0 text-center">
                    <div class="site-logo">
                        <a href="/" class="js-logo-clone">Shoppers</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <nav class="site-navigation text-right text-md-center" role="navigation">
        <div class="container">
            <ul class="site-menu js-clone-nav d-none d-md-block">
                <li class="has-children">
                    <a href="/">Home</a>
                </li>
                <li class="has-children">
                    <a href="/">Login</a>
                </li>
                <li class="has-children">
                    <a href="/">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>