<header class="site-navbar mb-5" role="banner">
    <div class="site-navbar-top">
        <div class="container">
            <div class="row align-items-center">


                <div class="col mb-md-0 text-center">
                    <div class="site-logo">
                        <a href="/" class="js-logo-clone">SoleStride</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <nav class="site-navigation text-right text-md-center border-bottom border-2" role="navigation">
        <div class="container d-flex justify-content-center">
            <ul class="site-menu">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>